---

import Modal from "../Modal.astro"

const {
    name,
    url,
    description,
    icon,
    longerDescription,
    contributors,
    tech
} = Astro.props

const className = name.toLowerCase().replaceAll(" ", "_").replaceAll("-", "_")
---

<Modal id={className} open='Open modal'>
<div class="card" slot="open" }>
    <img src={icon} alt="">
    <h1>{name}</h1>
    <p>{description}</p>
</div>

<div id="modal" slot="main">
    <img src={icon} alt="">
    <div class="vertical">
        <h1>{name}</h1>
        <p>{longerDescription}</p>
        <h2>Contributors to the project</h2>
        <ul class="contributors">
            {
            contributors?.map((entry: String) => 
                <li>{entry}</li>
                )}
        </ul>
        <h2>Tech used</h2>
        <ul class="tech">
            {
            tech?.map((entry: String) => 
                <li>{entry}</li>
            )
            }
        </ul>

    </div>
</div 

</Modal>


<style>
    #modal {
        padding: 3rem;
        color: white;

        background-color: var(--background);

        display: flex;
        align-items: center;

        text-align: center;

        gap: 3rem;

        margin-inline: auto;
        text-decoration: none;
        color: var(--foreground);

        max-width: 50ch;

        display: flex;
        align-content: center;

        box-shadow: 0rem 0rem 40px var(--accent), 1rem 1rem 30px var(--background-dark);
        border-color: var(--highlight);
        border-style: solid;
        border-radius: 1rem;
    }

    .vertical {
        flex-grow: column;

        align-content: left;
        text-align: left;
        left: 0;

        p {
            max-width: 30ch;
        }
            max-width: 40ch;
    }

    .card {
        padding: 2rem;

        background-color: var(--background);

        border-color: var(--dark);
        border-style: solid;
        border-radius: 1rem;

        width: auto;
        height: 85%;

        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;

        gap: 1rem;

        box-shadow: 0.5rem 0.5rem 10px var(--background-dark);
        transition:  cubic-bezier(1, 0, 0, 1), 0.3s;

        margin-inline: auto;
        text-decoration: none;
        color: var(--foreground);

        display: flex;
        align-content: center;
        cursor: pointer;

    }
    
    .card:hover {
        transform: translate(-0.5rem, -0.5rem);
        box-shadow: 0rem 0rem 40px var(--accent), 1rem 1rem 30px var(--background-dark);
        border-color: var(--highlight);
        background-color: var(--background-light);
        transition:  cubic-bezier(1, 0, 0, 1), 0.3s; }
        z-index: -1;
    }

    .card>*{
        margin-block-start: auto;
        margin-block-end: auto;
    }


    img {
        width: min(10rem, 50%);
        overflow: hidden;
    }


    p {
        font-family: "Delius", cursive;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }

    h1 {
        font-style: normal;
        font-family: "Edu NSW ACT Cursive", cursive;
    }

    h2 {
        font-weight: 700;
        font-size: 120%;
    }

    ul {
        display: flex;
        padding-inline: 0;
        flex-direction: row;
        gap: 1rem;
        align-self: flex-start;
        align-content: flex-start;
        align-items: left;
        flex-wrap: wrap;
    }

    li {
        display: inline-block;
        padding-inline: 15px;
        padding-block: 5px;
        border-radius: 10%;
        background: var(--dark);
        list-style-type: none;
        max-height: 2ch;
    }

    dialog::highlight {
        border: none;
    }

</style>
